/* ==========================================
   Applied Lab 1-4: CSS Foundations — Start Here
   ========================================== */

body {
    background-color: #FCFCFC;
    color: #4A4A4A;
    font-family: Verdana, Arial, sans-serif;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

h1, h2 {
    font-family: Georgia, "Times New Roman", serif;
}

h1 {
    font-size: 52px;
    color: #1A1A1A;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #D5D5D5;
}

h2 {
    font-size: 28px;
    color: #0097A7;
}

img {
    width: 380px;
    border: 2px solid #0097A7;
    margin: 20px 0px;
}